* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container-eb {
  width: 60%;
  height: 50%;
  background-color: black;
  border: 25px solid white;
}

.cont-img {
  height: 100%;
  position: relative;
}

.cont-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.256);
  width: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.btn-arrow:hover {
  color: blue;
}

.btn-arrow.top {
  top: 10px;
}

.btn-arrow.bottom {
  bottom: 10px;
}